:root {
    --accent: #9DDE8B;
    --card: #006769;
}

::-webkit-scrollbar{
    width: 8px;
    position: absolute;
    display: fixed;
    transition-duration: .3s;
}

::-webkit-scrollbar:hover{
    -webkit-mask-position: left top;
    display: block;
    /* left: 100px; */
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
  }

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

*, html, body {
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

a {
    text-decoration: none;
}

.nav_menu>a, .account>a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
    font-size: 32px;
}

li{
    list-style-type: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.login_input_box{
    border-radius: 5px;
    width: 300px;
    height: 25px;
    padding: 4px;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid black;
    background-color: transparent;
    font-style: none;
    font-size: 16px;
}

.login_input_box[type=submit] {
    background-color: white;
    width: 100%;
    height: 100%;
    position: relative;
    transition-duration: .3s;
}

.login_input_box[type=submit]:hover {
    background-color: var(--accent);
    cursor: pointer;
}

.login_input_box:focus {
    outline: none;
}

.submit_register, .submit_login{
    padding-block: 16px;
}

.parent {
    height: 100vh;
    padding: 16px;
}

.display_center{
    display: grid;
    place-items: center;
}

nav{
    position: sticky;
    top: 16px

}

.nav_container {
    display: flex;
    background-color: var(--card);
    margin: 16px;
    padding: 8px;
    border-radius: 8px;
}

.nav_menu {
    margin: 5px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.navbar_brand {
    border-radius: 5px;
    padding-left: 4px;
    padding-right: 4px;
    transition-duration: .3s;
    padding-top: 4px;
}

.navbar_brand:active {
    background-color: var(--accent);
}

.navbar_brand:hover {
    background-color: var(--accent);
}

/* .navbar_supplies:link{
    background-color: var(--accent);
} */

.icon {
    width: 32px;
    height: 32px;
    align-items: center;
    font-size: 32px;
    transition-duration: .3s;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    padding: 4px;
    color: whitesmoke;
}

.icon:hover {
    background-color: var(--accent);
}

.icon_button{
    background-color: transparent;
    border: none;
}

.card {
    background-color: var(--card);
    border-radius: 8px;
}

.login_container {
    background-color: white;
    color: black;
    margin: auto;
    padding: 20px;
    border: black 1px solid;
}

.login_head {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.login_get_input {
    font-size: 20px;
    display: grid;
    justify-content: center;
}

.form_login {
    font-size: 20px;
    width: 100%;
}

.input_list{
    display: grid;
}

.input_list>li{
    display: grid;
    justify-content: start;
    padding-block: 8px;
}

.input_list label{
    width: 100%;
}

.input_component {
    margin: auto;
}

.item_input_table{
    width: 102px;
    background-color: transparent;
    border: none;
    text-align: center;
    border: 1px black solid;
    border-radius: 4px;
}

.item_input_table:focus{
    outline: none;
}

.item_input_table[type=submit]{
    border: black 1px solid;
    width: 68px;
    border-radius: 4px;
    cursor: pointer;
    transition-duration: .3s;
}

.item_input_table[type=submit]:hover{
    background-color: var(--accent);
}

.home_header{
    font-size: 32px;
}

.account {
    margin: 5px;
    display: flex;
    justify-content: space-evenly;
    width: 64px;
}

/* .register{
    height: 32px;
} */

.register_link{
    color: black;
    font-size: 16px;
}

.account_dropdown{
    z-index: 999;
    position: fixed;
    top: 70px;
    display: none;
}

.account_dropdown a{
    color: black;
    padding: 4px;
    background-color: whitesmoke;
    transition-duration: .3s;
    display: flex;
    place-items: center;
    text-align: center;
    width: fit-content;
    height: fit-content;
}

.account_dropdown a:hover{
    background-color: var(--accent);
}

main{
    height: fit-content;
    padding: 16px;
}

table{
    width: 512px;
    border-collapse: collapse;
    border: 1px black solid;
}

th, td{
    padding: 8px;
    
}

td{
    text-align: center;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

table a{
    color: black;
}

.table_content{
    width: fit-content;
    height: fit-content;
    width: 50%;
    padding: 16px;
    overflow-x:auto;
}

.table_header label{
    font-weight: 700;
    font-size: 18px;
}

.supplies_table{
    width: 100%;
}

.data_parent{
    display: flex;
    width: 100%;
}

.act{
    background-color: white;
    position: absolute;
    transition-duration: .3s;
}

.act a{
    transition-duration: .3s;
}

.act a:hover{
    background-color: var(--accent);
}

.dropdown_act .act{
    display: none;
    transition-duration: .3s;
}

.dropdown_act:hover .act{
    display: grid;
}

.data{
    display: flex;
}

.edit_input li {
    list-style-type: none;
}

.card_about{
    padding: 8px;
    border-radius: 8px;
    border: 1px solid black;
    text-align: center;
}

.content_about{
    height: 75vh;
}

footer{
    height: 5vh;
}

.overwiew{
    display: flex;
    justify-content: block;
    padding: 4px;
}

.overwiew>div{
    display: block;
    border: black 1px solid;
    margin-inline-end: 16px;
    padding: 8px;
}

.card_overview{
    width: fit-content;
    padding: 8px;
    font-size: 52px;
    background-color: #006769;
    border-radius: 8px;
    color: white ;
    font-weight: bold;
}