<nav class="nav_container">
    <div class="nav_menu">
        <a class="navbar_brand navbar_home" id="nav" href="index.php">
            Home
        </a>
        <a class="navbar_brand navbar_supplies" href="supplies.php">
            Supplies
        </a>
        <a class="navbar_brand navbar_about" href="about.php">
            About
        </a>
    </div>
    <div class="account">
        <button class="icon_button" id="account_button"><i class="icon fa-regular fa-user"></i></button>
        <div class="account_dropdown" id="account_dropdown">
            <a href="login.php"><label for="">Log In</label></a>
            <a href="logout_proses.php">Log Out</a>
        </div>       
    </div>
    <script src="/main.js"></script>
</nav>